* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Verdana, Arial, sans-serif;
}

#wrapper {
  background-color: #b3c7e6;
}

header {
  color: #00005d;
  background-color: #869dc7;
  background-image: url(light.gif);
  background-repeat: no-repeat;
  background-size: auto 100%;
  /* padding: 0 0.5em 0 0.5em; */
  padding: 1em 0.5em;
}

.sform {
  /* background-color: #eaeaea; */
  font-family: Arial, sans-serif;
  /* height: 200px; */
  width: 350px;
  padding: 10px;
  /* display: inline-block; */
  /* display: inline-block; */
  /* text-align: left; */
  max-width: 64em;
  margin: auto;
  text-align: center;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; 
  text-align: center;
} */

/* input {
  display: block;
  margin-top: 10px;
} */

/* .navP {
  padding: 0;
} */

.navC a {
  display: block;
  text-decoration: none;
}

.navC > li {
  float: left;
  margin-right: 5px;
}

main {
  background-color: #ffffff;
  color: #000000;
  padding: 1em;
}

/* Styles to configure navigation links as horizontal areas */
nav ul {
  list-style-type: none;
  padding-left: 0;
  border-top: 1px solid #eeeeee;
}
nav li {
  border-bottom: 1px solid #eeeeee;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
nav a {
  text-decoration: none;
  font-weight: bold;
}
nav a:link {
  color: #00005d;
}
nav a:hover {
  color: #ff0000;
}

/* make the current page's link look different */
nav #page {
  font-weight: bold;
  color: #fefefe;
}

/* Force older versions of Internet Explorer to display these HTML5 elements with block display. */
header,
nav,
main,
footer,
aside,
figure {
  display: block;
}

ul {
  list-style: none;
}

@media (min-width: 600px) {
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  nav ul li {
    border-bottom: none;
  }
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
  }
  /* aside {
    grid-area: aside;
  } */
  footer {
    grid-area: footer;
  }
  #wrapper {
    display: grid;
    grid-template:
      "header header"
      "nav    nav"
      /* "main   aside" */
      "main   main"
      "footer footer"
      / 55%;
  }
}

.dropdown {
  position: relative;
  /* border-bottom: 5px solid white; */
}

.dropdown:hover ul {
  display: block;
}

.dropdown ul {
  display: none;
  /* display: block; */
  position: absolute;
  /* top: 39px; */
  left: -1px;
  z-index: 20000;
  min-width: 160px;
  /* padding: 0 0 5px; */
  background: blue;
  /* border: 1px solid #dadada; */
  border-top: 0;
  /* border-radius: 0 0 3px 3px; */
}
*/

/* .dropdown ul.large {
  min-width: 200px;
} */

.dropdown li {
  display: block;
  /* margin: 0 18px; */
  /* overflow: visible; */
}

.dropdown li + li {
  border-top: 1px solid #eee;
}

.dropdown li a {
  color: #fff;
  /* padding: 8px 18px; */
  /* margin: 0 -18px; */
}

.dropdown li a:hover {
  background: navy;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
